body{
    color:black;
    background-color: lightblue;
}

#camera
{
    border-width: 3px;
    border-color:black;
    border-style:ridge;
    width:310px;
    height:200px;
}

h3{
    width:200px;
    height:45px;
    font-style:bold ;
}

hr{
    color:black;
}

